.about-faq{
  padding-bottom: 160px;
}

.about-faq__title {
  margin-bottom: 64px;
  text-align: center;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.accordion-body2 {
  font-family: 'Lexend Deca';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #495567;
}

.accordion-item2 {
  background: #F2F5F9;
}

.accordion2 {
  margin-top: 64px;
}