.site-header{

    padding: 22px 0;
}
.top__inner{
   
display: flex;
align-items: center;
}
.top__nav{
margin-left: 58px;
}
.top__list{
margin: 0;
padding: 0;
list-style: none;
display: flex;
align-items: center;
justify-content: space-between;
}
.top__item{
    margin: 0;
    padding: 0;
}
.top__item+.top__item{
    margin-left: 32px;
}
.top__link{
    font-weight: 700;
font-size: 15px;
line-height: 25px;
/* identical to box height, or 167% */


color: #939CAA;
text-decoration: none;
}
.top__link:hover{
    color: #FCB72B;
}
.top__button{
    margin-left: auto;
    padding: 14px 39px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #FCB72B;
    border: 1px solid transparent;
}
.top__button:hover{
    border: 1px solid #FCB72B ;  
    background-color: #FFFFFF;
    color:#FCB72B ;
}