.home {
  
    background-image: url("/images/home-elips.png"),url("/images/home-befor.svg"),url("/images/home-after.svg"),url("/images/home-top-bg.jpg"),;
    background-repeat: no-repeat;

    background-position: calc(50% + 581px),calc(50% - 600px),calc(50% + 200px),calc(50%);
    background-position-y:calc(50% + 150px),calc(50% + 60px),;
}

.home__inner {
   padding: 156px 0;
    margin-bottom: 160px;
 
}

.home__content {
 
    width: 100%;
    max-width: 500px;
}

// .home__content::before {
//     content: "";

//     background-image: url("/images/home-o.png");
//     background-repeat: no-repeat;
//   position: absolute;
//     width: 203px;
//     height: 1px;
//     left: 293px;
//     top: 450px;


//     border: 15px solid #FCB72B;
// }

// .home__content::after {
//     content: "";
    
  
//     background-image: url("/images/home-after.svg");
//     background-repeat: no-repeat;
//     position: absolute;
//     width: 447px;
//     height: 138px;
//    background-position-x: calc(50% + 100px);


// }

.home__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 56px;
    /* or 100% */

    letter-spacing: -2.5px;

    color: #FFFFFF;
}

.home__text {
    margin: 0;
    padding: 40px 0 40px 80px;

    font-family: 'Lexend Deca';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    /* or 167% */


    color: #FFFFFF;

}

.home__link {
    padding: 14px 39px;
    margin-left: 80px;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
    background: #FCB72B;
    text-decoration: none;
}

.home__link:hover {
    border: 1px solid #FCB72B;
    background-color: #FFFFFF;
    color: #FCB72B;
}